<!DOCTYPE html> 
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <div id="search-box">
          <p>検索してね</p>
          <%= form_tag(action: "search") do %>
            <%= text_field_tag(
                :search, nil,
                id: "recipe_search",
                name: "keyname",
                placeholder: "キーワード",
                style: "width: 200px;"
            )%>
            <button title="検索" type="submit">検索</button>
          <% end %>
</body>
</html>